<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head-user', { title: title }) %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/script-user') %>
</body>
</html>