<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <nav class="navbar navbar-expand-lg bg-body-primary" >
                    <div class="container-fluid flex-column menu">
                        <a class="navbar-brand mt-5" href="/dashboard">Tartaro</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">v
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="offcanvas offcanvas-start mt-5" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <a class="navbar-brand" href="#">Tartaro</a>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav flex-column justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" aria-current="page" href="/users"><i class="bi bi-person"></i> Usuarios</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/products"><i class="bi bi-box2-heart"></i> Productos</a>
                                      </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/detailsOrders"><i class="bi bi-clipboard2-data"></i> Reportes</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/orders"><i class="bi bi-backpack4"></i> Pedidos</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/dealers"><i class="bi bi-bicycle"></i> Repartidores</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/backup"><i class="bi bi-hdd-stack"></i> Copia de Seguridad</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#"><i class="bi bi-book-half"></i> Gestionar contenido</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="offcanvas-footer mt-auto p-2">
                                <h5 p-2><a class="nav-link text-dark m-3 " href="#"><i class="bi bi-box-arrow-left"></i> Finalizar Sesion</a></h5>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-10 contentDelete">
                    <!-- Barra de búsqueda -->
                    <div class="container mt-4">
                    <div class="row">
                      <span class="col-10 title-user">Lista de Productos</span>
                      <div class="col-2 p-1 sidebar-item"><i class="sidebar-icon bi bi-person-circle"></i> <span style="margin-left: 10px;">Emmanuel</span></div>
                    </div>
                    
                    <div class="search-and-add">
                    <!-- Barra de búsqueda -->
                    <div class="search-bar">
                      <div class="input-group">
                      <input type="search" class="form-control rounded-pill alert-dark browse" placeholder="Buscar por categoria"><i class="bi bi-search"></i>
                      </div>
                    </div>
                    
                    <!-- Botón de agregar usuario -->
                    <button class="btn btn-warning add-user-btn" style="color:#fff" type="button" data-bs-toggle="modal" data-bs-target="#exampleAddUserModal""><i class="bi bi-plus"></i></button>
                    </div>
                    </div>
                    
                    <!-- Modal Añadir Producto-->
                    <div class="modal fade" id="exampleAddUserModal" tabindex="-1" aria-labelledby="exampleEditUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                      <h4 class="modal-title fs-5" id="exampleEditUserModalLabel">Agregar Producto</h4>
                      <button type="button" class="btn btn-outline-dark bi-x btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" style="padding-top: 0;">
                      <form>
                        <div class="container">
                          <div class="row align-items-start">
                          <div class="col" style="margin-top: 15px;">
                            <div style="text-align: center;position:relative;" class="mb-3 rounded">
                              <div class="rounded" style="width:200px;height:200px;border:1px solid #ccc;">
                              </div>
                              <input class="form-control url mt-2" type="text" id="formFile" placeholder="URL..."></input>
                              </div>
                              <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Marca</label>
                              <input type="text" class="form-control  marca alert-dark rounded" id="recipient-name">
                              <label for="recipient-name" class="col-form-label">Proveedor</label>
                              <input type="number" class="form-control proveedor alert-dark rounded" id="recipient-name">
                              <label for="recipient-name" class="col-form-label">calificacion</label>
                              <input type="number" class="form-control calificacion alert-dark rounded" id="recipient-name">
                              </div>
                          </div>
                          <div class="col">
                            <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Nombre</label>
                            <input type="text" class="form-control nombre alert-dark rounded" id="recipient-name" placeholder="Nombre">
                            </div>
                            <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Descripción</label>
                            <textarea class="form-control alert-dark descripcion rounded" id="exampleFormControlTextarea1" rows="3" ></textarea>
                            </div>
                            <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Precio</label>
                            <input type="number" class="form-control precio alert-dark rounded" id="recipient-name" placeholder="$">
                            </div>
                            <div class="mb-2">
                            <label for="recipient-name" class="col-form-label">categoria</label>
                            <input type="number" class="form-control categoria alert-dark rounded" id="recipient-name" placeholder="0">
                            </div>
                          </div>
                          </div>
                        </div>
                      </form>
                      <div style="text-align: center;">
                        <button type="button" class="btn btn-warning btn-save" data-bs-dismiss="modal">Guardar</button>
                      </div>
                      </div>
                    </div>
                    </div>
                    </div>
                    
                    <!-- Lista de usuarios -->
                    <div class="container">
                        <table class="table table bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">ID_Categoria </th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">ID_Proveedor</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">PrecioVenta</th>
                                    <th scope="col">Calificacion</th>
                                    <th scope="col">Disponibilidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(product => {%>
                                    <tr class="user-list-item" data-id=`<%= product.id %>`>
                                        <td class="id"><%= product.id %></td>
                                        <td class="imagen"><img src="<%= product.imagen %>" alt=""></td>
                                        <td class="nombre"><%= product.NombreProducto %></td>
                                        <td class="categoria"><%= product.ID_Categoria %></td>
                                        <td class="marca"><%= product.Marca %></td>
                                        <td class="proveedor"><%= product.ID_Proveedor %></td>
                                        <td class="descripcion"><%= product.Descripcion%></td>
                                        <td class="precio"><%= product.PrecioVenta %></td>
                                        <td class="calificacion"><%= product.Calificacion%></td>
                                        <td class="disponibilidad"><%= product.Disponibilidad%></td>
                                        
                                        <td>
                                            <div class="rounded icon-button">
                                                <button class="btn btn-warning edit-user-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleEditUserModal">
                                                  <i class="sidebar-icon bi bi-pencil-fill"></i>
                                                </button>
                                              </div>
                                        </td>
                                        <td>
                                            <div class="rounded icon-button ms-1 remove">
                                                <button type="button" class="btn btn-danger delete-user-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                  <i class="sidebar-icon bi bi-x"></i>
                                                </button>
                                              </div>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal Editar Usuario -->
                    <div class="modal fade" id="exampleEditUserModal" tabindex="-1" aria-labelledby="exampleEditUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                      <h4 class="modal-title fs-5" id="exampleEditUserModalLabel">Editar Producto</h4>
                      <button type="button" class="btn btn-outline-dark bi-x btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" style="padding-top: 0;">
                      <form>
                        <div class="container">
                          <div class="row align-items-start">
                          <div class="col" style="margin-top: 15px;">
                            <div style="text-align: center;position:relative;" class="mb-3 rounded">
                              <div class="rounded" style="width:200px;height:200px;border:1px solid #ccc;">
                                <button class="btn edit-user-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleAddUserModal"><i class="sidebar-icon bi bi-card-image"></i></button>
                              </div>
                              </div>
                              <input class="form-control urlEdit mt-2" type="text" id="recipient-name" placeholder="URL..."></input>
                              <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Marca</label>
                              <input type="text" class="form-control  marcaEdit alert-dark rounded" id="recipient-name">
                              <label for="recipient-name" class="col-form-label">Proveedor</label>
                              <input type="number" class="form-control proveedorEdit alert-dark rounded" id="recipient-name">
                              <label for="recipient-name" class="col-form-label">calificacion</label>
                              <input type="number" class="form-control calificacionEdit alert-dark rounded" id="recipient-name">
                              </div>
                          </div>
                          <div class="col">
                            <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Nombre</label>
                            <input type="text" class="form-control nombreEdit alert-dark rounded" id="recipient-name" placeholder="Nombre">
                            </div>
                            <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Descripción</label>
                            <textarea class="form-control alert-dark descripcionEdit rounded" id="exampleFormControlTextarea1" rows="3" ></textarea>
                            </div>
                            <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Precio</label>
                            <input type="number" class="form-control precioEdit alert-dark rounded" id="recipient-name" placeholder="$">
                            </div>
                            <div class="mb-2">
                            <label for="recipient-name" class="col-form-label">categoria</label>
                            <input type="number" class="form-control categoriaEdit alert-dark rounded" id="recipient-name" placeholder="0">
                            </div>
                          </div>
                          </div>
                        </div>
                      </form>
                      <div style="text-align: center;">
                        <button type="button" class="btn btn-warning btn-save-edit" data-bs-dismiss="modal">Guardar</button>
                      </div>
                      </div>
                    </div>
                    </div>
                    </div>
                    <!-- Modal Eliminar Usuario -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header" style="align-self: center;padding-bottom:20px">
                      <h5 class="modal-title fs-5" id="staticBackdropLabel">¿Deseas eliminar "Lomo de res"?</h5>
                      </div>
                      <div style="text-align: center;padding-bottom: 20px;">
                      <button type="button" class="btn btn-warning accept" data-bs-dismiss="modal" style="color:white">Aceptar</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>
                      </div>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/product.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>
