<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <nav class="navbar navbar-expand-lg bg-body-primary" >
                    <div class="container-fluid flex-column menu">
                        <a class="navbar-brand mt-5" href="/dashboard">Tartaro</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">v
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="offcanvas offcanvas-start mt-5" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <a class="navbar-brand" href="#">Tartaro</a>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav flex-column justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" aria-current="page" href="/users"><i class="bi bi-person"></i> Usuarios</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/products"><i class="bi bi-box2-heart"></i> Productos</a>
                                      </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/detailsOrders"><i class="bi bi-clipboard2-data"></i> Reportes</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/orders"><i class="bi bi-backpack4"></i> Pedidos</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/dealers"><i class="bi bi-bicycle"></i> Repartidores</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="copiaseguridad.html"><i class="bi bi-hdd-stack"></i> Copia de Seguridad</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#"><i class="bi bi-book-half"></i> Gestionar contenido</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="offcanvas-footer mt-auto p-2">
                                <h5 p-2><a class="nav-link text-dark m-3 " href="#"><i class="bi bi-box-arrow-left"></i> Finalizar Sesion</a></h5>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-10 contentDelete">
                <div class="container mt-4">
                    <div class="row">
                      <span class="col-10 title-user">Lista de pedidos</span>
                      <div class="col-2 p-1 sidebar-item"><i class="sidebar-icon bi bi-person-circle"></i> <span style="margin-left: 10px;">Emmanuel</span></div>
                    </div>
                    <div class="search-and-add">
                      <!-- Barra de búsqueda -->
                      <div class="search-bar">
                        <div class="input-group">
                          <input type="search" class="form-control rounded-pill alert-dark" aria-label="Buscar usuario"><i class="bi bi-search"></i>
                        </div>
                      </div>
                      <!-- Botón de agregar usuario -->
                      <button class="btn btn-warning add-user-btn" style="color:#fff;" type="button" data-bs-toggle="modal" data-bs-target="#exampleAddUserModal"><i class="bi bi-plus"></i></button>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleAddUserModal" tabindex="-1" aria-labelledby="exampleEditUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title fs-5" id="exampleEditUserModalLabel">Agregar Usuarios</h3>
                          <button type="button" class="btn btn-outline-dark bi-x btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nombre" class="col-form-label">Nombre</label>
                                <input type="text" class="form-control alert-dark rounded nombre" id="nombre">
                            </div>
                            <div class="mb-3">
                                <label for="celular" class="col-form-label">Celular</label>
                                <input type="text" class="form-control alert-dark rounded celular" id="celular">
                            </div>
                            <div class="mb-3">
                                <label for="cedula" class="col-form-label">Cedula</label>
                                <input type="text" class="form-control alert-dark rounded cedula" id="cedula">
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="col-form-label">Direccion</label>
                                <input type="text" class="form-control alert-dark rounded direccion" id="direccion">
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="col-form-label">Correo</label>
                                <input type="text" class="form-control alert-dark rounded correo" id="correo">
                            </div>
                            <div class="mb-3">
                                <label for="contrasena" class="col-form-label">Contraseña</label>
                                <input type="text" class="form-control alert-dark rounded contrasena" id="contrasena">
                            </div>
                            <div class="mb-3">
                                <label for="contrasena" class="col-form-label">Id Rol</label>
                                <input type="text" class="form-control alert-dark rounded rol" id="contrasena">
                            </div>
                        </form>
                        <div style="text-align: center;">
                            <button type="button" class="btn btn-warning btn-save">Guardar</button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Editar Usuario -->
                <div class="modal fade" id="exampleEditUserModal" tabindex="-1" aria-labelledby="exampleEditUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog order">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Editar pedido</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card ">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="m-3">
                                            <strong>Usuario:</strong>antonio
                                        </div>
                                        <div class="input-group m-3">
                                            <span class="input-group-text"><i class="bi bi-alarm"></i></span>
                                            <input type="time" >
                                        </div>
                                        <div class="input-group m-3 ps-2">
                                            <span class="input-group-text" id="basic-addon1">Repartidor</span>
                                            <input type="text" class="form-control" placeholder="juan" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                                            <div class="card" style="width: 50vh;">
                                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.gq.com.mx%2Fphotos%2F5c422116f995213cba5cfa98%2F16%3A9%2Fw_1920%2Cc_limit%2Fcordero.jpg&f=1&nofb=1&ipt=2bf48bfba961d230bdae6b37157acd4c9cd5a81fe0d8f1139e9f35ab32be2109&ipo=images" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <form class="row g-3">
                                                        <div class="col-md-3">
                                                            <label for="inputZip" class="form-label">Eligir imagen</label>
                                                            <input type="file" class="form-control" id="img" placeholder="lomo de res">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputCity" class="form-label">nombre</label>
                                                            <input type="text" class="form-control" id="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputState" class="form-label">cantidad</label>
                                                            <input type="number" class="form-control" id="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputZip" class="form-label">Precio</label>
                                                            <input type="number" class="form-control" id="">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                                            <div class="card" style="width: 50vh;">
                                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmetrocolombiafood.vteximg.com.br%2Farquivos%2Fids%2F220165-750-750%2F7702552000486-1.jpg%3Fv%3D636794507320300000&f=1&nofb=1&ipt=4ec13424ea95f9bb125ad9c695b74b0b83dc060503c63292f8cfb97cf9224de7&ipo=images" class="card-img-top" alt="">
                                                <div class="card-body">
                                                    <form class="row g-3">
                                                        <div class="col-md-3">
                                                            <label for="inputZip" class="form-label">Eligir imagen</label>
                                                            <input type="file" class="form-control" id="img">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputCity" class="form-label">nombre</label>
                                                            <input type="text" class="form-control" id="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputState" class="form-label">cantidad</label>
                                                            <input type="number" class="form-control" id="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputZip" class="form-label">Precio</label>
                                                            <input type="number" class="form-control" id="">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                                            <div class="card" style="width: 50vh;">
                                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd2o812a6k13pkp.cloudfront.net%2FProductos%2F40381123001_01.jpg&f=1&nofb=1&ipt=2eb0f2f0375ddaa11fcdfc768e2d69870c99974ec4c9d3b83230873979a5d9d9&ipo=images" class="card-img-top" alt="">
                                                <div class="card-body">
                                                    <form class="row g-3">
                                                        <div class="col-md-3">
                                                            <label for="inputZip" class="form-label">Eligir imagen</label>
                                                            <input type="file" class="form-control" id="img">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputCity" class="form-label">nombre</label>
                                                            <input type="text" class="form-control" id="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputState" class="form-label">cantidad</label>
                                                            <input type="number" class="form-control" id="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="inputZip" class="form-label">Precio</label>
                                                            <input type="number" class="form-control" id="">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                    <div class="card-footer text-muted d-flex justify-content-around">
                                        <div class="input-group pt-5 pb-5">
                                            <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option selected>seleciona</option>
                                                <option value="1">exitos</option>
                                                <option value="2">espera</option>
                                                <option value="3">pendiente</option>
                                            </select>
                                        </div>
                                        <div class="p-2 bg-light border">
                                            <p>Subtotal: $21800</p>
                                            <p>IVA: $4142</p>
                                            <p>Total:$25942</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-warning">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Eliminar Usuario -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="align-self: center;padding-bottom:20px">
                        <h5 class="modal-title fs-5" id="staticBackdropLabel">¿Deseas eliminar a "Esneider"?</h5>
                        </div>
                        <div style="text-align: center;padding-bottom: 20px;">
                        <button type="button" class="btn btn-warning accept" data-bs-dismiss="modal" style="color:white">Aceptar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container">
                    <table class="table table bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID_Pedido</th>
                                <th scope="col">Estado Pedido</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Precio Venta</th>
                                <th scope="col">ID_Repartidor</th>
                                <th scope="col">Fecha Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => {%>
                                <tr class="user-list-item" data-id=`<%= order.ID_Usuario %>`>
                                    <td class="id"><%= order.ID_Pedido %></td>
                                    <td class="estado"><%= order.EstadoPedido %></td>
                                    <td class="direccion"><%= order.Direccion %></td>
                                    <td class="cliente"><%= order.Cliente %></td>
                                    <td class="precio"><%= order.PrecioVenta %></td>
                                    <td class="repartidor"><%= order.ID_Repartidor %></td>
                                    <td class="fecha"><%= order.FechaPedido %></td>
                                    <td>
                                        <div class="rounded icon-button">
                                            <button class="btn btn-warning edit-user-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleEditUserModal">
                                              <i class="sidebar-icon bi bi-pencil-fill"></i>
                                            </button>
                                          </div>
                                    </td>
                                    <td>
                                        <div class="rounded icon-button ms-1 remove">
                                            <button type="button" class="btn btn-danger delete-user-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                              <i class="sidebar-icon bi bi-x"></i>
                                            </button>
                                          </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/orders.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>
